$maincolour: #434343;

#container {
  margin: auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  padding: 0;
  border: 3px solid $maincolour;
  border-radius: 20px;
  overflow: hidden;

}

.empty {
  float: left;
  clear: right;
}


.filled {

}

#navigation {
  margin: auto;
  margin-top: 40px;
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  align-content: center;
}

#reset {
  padding: 0;
  background: none;
  font-size: 2em;
  
  color: $maincolour;
  border: none;
  border-radius: 4px;
  font-family: monospace;

}

#size {
  direction: rtl;
  width: 200px;

}

#rainbow {
  -webkit-appearance: none;
  border-radius: 4px;
  height: 25px;
  width: 25px;
  outline: none;
  border: $maincolour solid 2px;
  background: none;
}

#rainbow:checked {
  background: linear-gradient(to bottom right, cyan , yellow);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;

  background: $maincolour;
  cursor: pointer;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $maincolour;
  border-radius: 1.3px;
}



